<!doctype html>
<html>

<head>
  <title>21 Savage Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h2>
    <%=greeting%>
  </h2>

  <div class="container">

    <div class="page-header text-center">
      <!-- <h1><span class="fa fa-anchor"></span> Profile Page</h1> -->
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <a href="/courselist" class="btn btn-default btn-sm">Go to course </a>
      <a href="/resultpage" class="btn btn-default btn-sm">Go to result </a>


    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <!-- <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>password</strong>: <%= user.local.password %>
          </p>

          <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

        </div>
      </div> -->
      <span id="spanId"></span>
    <section class="classes">
       <form class="" action="result" method="post">
          <label for="classes">How Many Classess are you taking</label>
          <input id="classTag" type="number" name="class" value="" required>
          <label for="">Do you work</label>
          <input id="workTag" type="number" name="work" value="" required>
          <!-- <label for="classes">Do you play sport</label>
          <input id="sportTag"type="text" name="" value="">
          <label for="">Are you in any clubs</label>
          <input id="clubTag"type="text" name="" value="">
 -->
           <button id="sumbitId" type="submit">Submit</button>
       </form>

         </section>
   <script type="text/javascript" src="condition.js"></script>
    <script src="main.js"></script>

</body>

</html>
